<div>
    <ul style="display: flex; list-style: none; width: 50%; justify-content: space-between">
        <li>
            <a href="{{ path('bubble_sort') }}">
                Bubble Sort
            </a>
        </li>
        <li>
            <a href="{{ path('fusion_sort') }}">Merge Sort</a></li>
        <li>
            <a href="{{ path('tree_sort') }}">Tree Sort</a>
        </li>

    </ul>
</div>